<h4>Hello Brian and Team!</h4>

<div class="container">
  <br />
  <br />
  <p>Thank you for the opportunity to take a crack at your coding challenge.</p>

  <p>
    If you're seeing this, it's hopefully because you were able to pull my
    project down and launch it without issue (and not because you're rooting
    around the files to see why it didn't). You can access the story feed by
    clicking on 'fetch news' in the nav-bar.
  </p>

  <p>
    To be totally honest, this was my first attempt at building an Angular .Net
    Core project that did not involve the Angular and .Net pieces running in
    seperate environments. This is actually the third version of this project,
    not counting a small handful of other bits of code I used mostly to verify
    what templates I shouldn't bother trying to use.
  </p>
  <p>
    At first I was a little stumped why I would need the .Net piece at all.
    Eventually though it became clear that a number of core concepts could still
    be demonstrated while accomplishing a (seemingly) simple task, and that
    there would definately be a need for me to write some C#.
  </p>

  <p>
    As I'm sure you've already noticed, I didn't go overboard with the bells and
    whistles. I tried to clean up the story feed a bit - there some logic there
    to avoid nulls and the like, padded the content. I strayed away from the
    'bonuses', but regardless of this point-in-time submission, I'll be diving
    into how I would have accomplised some of them in the upcoming days because
    I'm genuinely interested to learn it.
  </p>

  <p>
    That said, my primary concern was hitting the MVP, showing what I
    <em>do</em> know, stabbing a bit at the things I <em>kinda</em> know, and
    getting something to you in a timely manner that I was 100% sure would build
    without issue. There is one bug I know of - about 1 our of every 10 loads,
    the feed will go blank and I get something to the effect of "cannot read Url
    of null". I figured I could strip out any stories without a Url at the
    server level, but I wanted to demonstrate being able to write that logic
    into the view so stories with no route would still display. Additionally, I
    limited the feed to the top 50 stories (since the API returns 500) for the
    sake of load time. I would have liked to implement a repository or DTO, but
    the async Get() function in the StoryController gave me some issues. I took
    a stab at testing, but again I ran a little light there. I've never been in
    an environment where testing was required (or really even stressed), but I'm
    excited by the opportunity to run clean, tight code as a product of TDD. A
    dashboard filled with little green checkmarks sounds very valitating, aside
    from the obvious positive effects it has on code integrity.
  </p>

  <p>
    I just wanted to quickly say thank you again for the opportunity to take
    this assessment, and to potentially come onboard as part of your team. My
    prior experiences have given me a wide perspective of the coding world, and
    I'm excited by the opportunity to hone my skills in a more focused area of
    that spectrum.
  </p>

  <p>Thank you again, and I hope to speak with you again soon.</p>
  <p>All the best,</p>
  <p>Grant Smith</p>
</div>
